@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    header {
        background-color: azure; 
        font-family: 'Dosis', sans-serif;
        font-size: 25px; 
        padding-bottom: 10px; 
        position: fixed; 
        width: 100%; 
    }
    body {
        margin: 0; 
        position: relative; 
        overflow-x: hidden; 
        width: 100%; 
        height: 100%; 
    }
    img { 
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center; 
        font-family: 'Dosis', sans-serif;
        font-weight: 300; 
    }
    .top {
        visibility: hidden; 
        margin-top: 0; 
    }
    .topnav {
        visibility: hidden; 
    }
    .dropbtn {
        background-color: solid skyblue;
        font-family: 'Nunito', sans-serif;
        color: black;
        padding: 12px 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin: 3px; 
    }
    .dropdown {
        position: fixed; 
        top: 0; 
        right: 20px;
        font-family: 'Nunito', sans-serif;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: solid skyblue;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        font-family: 'Nunito', sans-serif;
        padding: 12px 16px;
        text-decoration: none;
        background-color: solid skyblue; 
        display: block;
    }
    .dropdown-content a:hover {background-color: lavender}
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn {
        background-color: solid lavender;
    }
    .photo {
        border-radius: 50%; 
        height: 200px; 
        width: 200px; 
        margin-top: 100px; 
        margin-bottom: 50px; 
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
    }
    .intro {
        max-width: 650px; 
        margin-left: auto; 
        margin-right: auto; 
        line-height: 2; 
    }
    .emphasis {
        color: sienna; 
    }

    .intro-section {
        padding-bottom: 50px; 
        padding-left: 20%; 
        padding-right: 20%; 
    }
    .work-section {
        padding-top: 50px; 
        padding-bottom: 50px; 
        padding-left: 10%; 
        padding-right: 10%; 
    }
    .skills-section {
        padding-top: 50px; 
        padding-bottom: 50px; 
        padding-left: 12.5%; 
        padding-right: 12.5%; 
        background-color: rgb(250, 250, 250); 
    }
    .life-section {
        padding-top: 50px; 
        padding-bottom: 50px; 
        padding-left: 10%; 
        padding-right: 10%; 
    }
    .contact-section {
        padding-top: 50px; 
        padding-bottom: 50px; 
        padding-left: 10%;
        padding-right: 10%; 
        background-color: rgb(250, 250, 250); 
    }
    .social-section {
        padding-top: 50px; 
        padding-bottom: 50px; 
        padding-left: 45%; 
        padding-right: 45%; 
    }
    .section-title {
        padding-top: 50px; 
        padding-bottom: 50px; 
    }

    .work-block {
        width: 80%;
        height: 80%; 
    }
    .skills-block {
        width: 125px; 
        height: 125px; 
    }
    .life-block {
        border-radius: 50%; 
        border: 5px solid whitesmoke;
        height: 175px; 
        width: 175px; 
    }
    .social-block {
        width: 35px; 
        height: 35px; 
    }

    .work-desc {
        max-width: 250px; 
        text-align: center; 
    }
    .skills-desc {
        max-width: 225px; 
        text-align: center; 
        color: lightslategray;
    }
    .life-left-desc-title {
        text-align: right; 
    }
    .life-left-desc {
        text-align: right; 
        color: lightslategray
    }
    .life-right-desc-title {
        padding-top: 20px; 
        text-align: left; 
    }
    .life-right-desc {
        text-align: left; 
        color: lightslategray
    }
    .life-empty-desc {
        visibility: hidden; 
    }

    .work-split {
        
    }
    .skills-split {
        
    }
    .life-split {
        
    }
    .social-split {
        
    }

    .timeline {
        border-left: 3px solid whitesmoke;
        height: 100px;
        position: relative;
        left: 50%;
        top: 0;
    }
}